.banner {
    background-image: url("./img/inicio.png");
    height: 350px;
    background-size: cover;
    justify-content: space-around;
}

.texto-banner {
    padding-top: 40px;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
}

.texto-banner-2 {
    font-size: 20px;
    margin: 30px;
}

.tit-1 {
    padding-left: 50px;
    margin-top: 25px;
    font-size: 20px;
}

.txt-1 {
    padding-inline-end: 80px;
    margin-left: 80px;
    font-size: 18px;
}

.contenedor-servicios {
    background-image: url("./img/medio.png");
    background-size: cover;
    min-height: 890px;
    display: flex;
}

.admin-servicios,
.contratos-servicios,
.reparaciones-servicios {
    font-size: 14px;
    min-width: 23%;
    padding: 1px 10px 5px;
    background-color: #ffffff;
    border: 1px solid black;
    flex: 1;
    margin: 5%;
    max-height: 95%;
}

.txt-admin,
.txt-reparaciones,
.txt-contratos {
    font-size: 20px;
    margin: 23px;
}

.contenedor-equipo {
    height: 180px;
    display: flex;
}

.fondo-footer {
    background-image: url("./img/pie.png");
}

.equipo {
    border: 3px solid #0d5193;
    margin: 20px;
    display: flex;
}

.equipo-txt {
    display: flex;
    align-items: center;
    margin: auto;
}

.nombres-footer {
    margin-top: 10px;
}

.equipo-fede {
    border: 3px solid black;
    background-color: #0d5193;
    color: #ffffff;
    margin: 15px;
    display: flex;
}
.retratos {
    height: 80%;
    width: 100%;
    margin-top: 10px;
}

.logo {
    height: 150px;
    width: auto;
}

.logo-contenedor {
    width: 40%;
    display: flex;
    margin-top: 90px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.footer {
    display: flex;
}

.footer-info {
    margin-top: 10%;
    font-size: 20px;
}
